/* Root */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */
ul {
  list-style: none;
  padding: 10px;
}

li {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: blue;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  margin: 0 10px;
}

input {
  padding: 5px;
  margin-left: 10px;
  margin-top: 10px;
}

button {
  padding: 5px;
  cursor: pointer;
}

/* Availability Color*/
.oos {
  color: red;
}

.in-stock {
  color: green;
}

/* Error Color */
.error-text {
  color: red;
}
